<app-sidebar [username]="username" [person]="person"></app-sidebar>
<section>
  <div class="container-fluid col-sm-4">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <h4 style="text-align: center;">Reset Password</h4>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="username" autocomplete="username" readonly>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="oldPassword" autocomplete="current-password">
        <label for="floatingInput">Old Password</label>
        <div
          *ngIf="forgotPasswordForm.controls['oldPassword'].invalid && (forgotPasswordForm.controls['oldPassword'].dirty || forgotPasswordForm.controls['oldPassword'].touched)">
          <div *ngIf="forgotPasswordForm.controls['oldPassword'].errors?.['required']" class="alert alert-danger">
            Old Password is required.
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="newPassword" autocomplete="new-password">
        <label for="floatingInput">New Password</label>
        <div
          *ngIf="forgotPasswordForm.controls['newPassword'].invalid && (forgotPasswordForm.controls['newPassword'].dirty || forgotPasswordForm.controls['newPassword'].touched)">
          <div *ngIf="forgotPasswordForm.controls['newPassword'].errors?.['required']" class="alert alert-danger">
            New Password is required.
          </div>
          <div class="alert alert-danger" *ngIf="forgotPasswordForm.controls['newPassword'].errors?.['pattern']">
            Password must contain more than 8 characters, 1 upper case letter,1 lower case letter and 1
            special character
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="confirmPassword">
        <label for="floatingInput">Confirm Password</label>
        <div
          *ngIf="forgotPasswordForm.controls['confirmPassword'].invalid && (forgotPasswordForm.controls['confirmPassword'].dirty || forgotPasswordForm.controls['confirmPassword'].touched)">
          <div *ngIf="forgotPasswordForm.controls['confirmPassword'].errors?.['required']" class="alert alert-danger">
            Confirm Password is required.
          </div>
        </div>
        <div
          *ngIf=" forgotPasswordForm.controls['confirmPassword'].valid && forgotPasswordForm.controls['confirmPassword'].dirty && forgotPasswordForm.errors?.['passwordmatcherror']"
          class="alert alert-danger">
          Password does not
          match</div>
      </div>
      <td><button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!forgotPasswordForm.valid">Change
          Password</button></td>
      <td><button type="button" class="btn btn-danger btn-block mb-4" (click)="reset()">Reset</button></td>
    </form>
  </div>
</section>