<app-sidebar [username]="username" [person]="person"></app-sidebar>
<section>
    <div class="container-fluid col-sm-4">
        <div>
            <h4 style="text-align: center;">Trainee Profile</h4>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" value="{{trainee.firstname}}" readonly disabled>
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" value="{{trainee.lastname}}" readonly disabled>
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" value="{{username}}" readonly disabled>
                <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" value="{{trainee.dateOfBirth}}" readonly disabled>
                <label for="floatingInput">Date Of Birth</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" value="{{trainee.address}}" readonly disabled>
                <label for="floatingInput">Address</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="trainee.active"
                    disabled>
                <label class="form-check-label" for="flexRadioDefault1">
                    Active
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="!trainee.active"
                    disabled>
                <label class="form-check-label" for="flexRadioDefault2">
                    InActive
                </label>
            </div>
            <h4>Trainer Details:</h4>
            <h3 *ngIf="noOfTrainers===0" style="color: red;">Trainees list is empty</h3>
                
            <div *ngFor="let trainer of trainee.listOfTrainers;let index=index">
                <div>
                    <h6 style="text-align: center;">{{trainer.firstname | uppercase}} Details</h6>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{trainer.firstname}}" readonly disabled>
                        <label for="floatingInput">First Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{trainer.lastname}}" readonly disabled>
                        <label for="floatingInput">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{trainer.specialization}}" readonly disabled>
                        <label for="floatingInput">Specialization</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>